{% extends "about.html" %}
{% block about_content %}
<div class="col-md-7">
  <ul class="core-about-content">
    <li>
      <h3>CORE: 让数据流通更可信、高效、安全</h3>
      <hr>
      <h4>数据唯一认证标识</h4>
      <p>一处认证，全网通用；版本管理识别，交易记账永久留存；数据可信签名核对，通用数据引证。</p>
      <h4>DGP 数据平台</h4>
      <p>提供开源免费的通用数据管理、共享和交换平台。 可定制化平台界面、服务托管类型（公有或私有）。与 CORE 统一认证系统集成，实现本地数据存储、全网目录公开</p>
      <h4>全面支持各种数据类型</h4>
      <p>支持目前已知通用数据类型，可灵活扩展更多的数据类型，以及对各类型数据的数据签名核对、版本管理、元数据管理等。</p>
        <p></p>
    </li>
  </ul>
</div>
{% endblock %}
