{% extends "about.html" %}
{% block about_content %}
<div class="col-md-7">
  <ul class="core-about-content">
    <li>
      <h3>清华大学信息科学与技术国家实验室</h3>
      <hr>
      <p>科技部于 2003 年 11 月 25 日批准筹建第一批国家实验室，清华信息科学与技术国家实验室（以下简称国家实验室）是 5 个国家实验室之一，依托清华大学筹建。</p>
      <p>国家实验室将按照 “以培育国际一流实验室为目标，组织开展与国家发展密切相关的基础性、前瞻性、战略性科技创新活动，建立全新创新机制，吸引、聚集和培养国际一流人才” 的基本要求，整合清华大学在信息领域的 3 个国家重点实验室（智能技术与系统、微波与数字通信、集成光电子学－清华大学分室）和 2 个教育部重点实验室（普适计算、生物信息学－信息学院分室），发挥清华大学在计算机科学与技术、电子科学与技术、信息与通信工程、控制科学与工程 4 个一级学科优势，进行重点建设。</p>
      <p>国家实验室设有国际咨询委员会和学术委员会，配合六大研究方向成立了相对应的公共平台和技术部、信息技术研发部、基础研究部、研究中心以及信息战略研究部等。</p>
    </li>
  </ul>
</div>
{% endblock %}
