{% extends "edit.html" %}

{% block edit %}
    <h4 class="m-l-20">修改密码</h4>
    <hr>
    <form action="/edit/password" method="POST">
        <ul class="core-form core-userinfo">
            <li>
                <h5 class="core-form-label">现密码</h5>
                <div class="core-form-content">
                    <div class="form-inline">
                        <div class="form-group">
                            {{  form.now_passwd(class="form-control",placeholder="请输入现密码")}}
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <h5 class="core-form-label">新密码</h5>
                <div class="core-form-content">
                    <div class="form-inline">
                        <div class="form-group">
                            {{  form.new_passwd(class="form-control",placeholder="请输入新密码")}}
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <h5 class="core-form-label">确认密码</h5>
                <div class="core-form-content">
                    <div class="form-inline">
                        <div class="form-group">
                            {{  form.confirm_passwd(class="form-control",placeholder="请再次输入新密码")}}
                        </div>
                    </div>
                </div>
            </li>
            <li style="border-bottom:none;">
                <!-- <h5 class="core-form-label"></h5> -->
                <div class="core-form-content">
                    <button class="btn btn-primary core-form-content-save" type="submit">确认修改密码</button>
                </div>
            </li>
        </ul>
    </form>

{% endblock %}
