{% extends "base-clear.html" %}

{% block head_script %}
<script src="http://static.geetest.com/static/tools/gt.js"></script>
{% endblock %}

{% block content %}
<div class="container core-log">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">{% include 'flash.html' %}</div>
            <div class="col-sm-12">
              <p class="core-log-title"><a href="/forget" class="btn btn-link btn-lg pull-left"><i class="fa fa-angle-left" aria-hidden="true"></i> 返回</a>通过手机短信找回密码</p>
            </div>
            <div class="col-sm-12">
              <form action="/rest/captcha/sms" method="POST">
                <div class="form-group">
                  {{ form.cellphone(class="form-control",id="cellphone",placeholder="手机号")}}
                </div>
                <div id="popup-captcha"></div>
                <div class="input-group">
                  <div id="embed-captcha"></div>
                  <p id="wait" class="show">正在加载验证码......</p>
                  <p id="notice" class="hide">请先拖动验证码到相应位置</p>
                  <br>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-lg btn-block" id="core-forget-btn">下一步</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="form-group">
<div id="embed-captcha"></div>
<p id="wait" class="show">正在加载验证码......</p>
<p id="notice" class="hide">请先拖动验证码到相应位置</p>
</div> -->

{% endblock %}

{% block tpl_script %}
<script type="text/javascript">
var handlerEmbed = function (captchaObj) {
  $("#embed-submit").click(function (e) {
    var validate = captchaObj.getValidate();
    if (!validate) {
      $("#notice")[0].className = "show";
      setTimeout(function () {
        $("#notice")[0].className = "hide";
      }, 2000);
      e.preventDefault();
    }
  });
  // 将验证码加到id为captcha的元素里，同时会有三个input的值：geetest_challenge, geetest_validate, geetest_seccode
  captchaObj.appendTo("#embed-captcha");
  captchaObj.onReady(function () {
    $("#wait")[0].className = "hide";
  });
  // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
};
$.ajax({
  // 获取id，challenge，success（是否启用failback）
  url: "/rest/get/code?t=" + (new Date()).getTime(), // 加随机数防止缓存
  type: "get",
  dataType: "json",
  success: function (data) {
    // 使用initGeetest接口
    // 参数1：配置参数
    // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
    initGeetest({
      gt: data.gt,
      challenge: data.challenge,
      product: "embed", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
      offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
      // 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config
    }, handlerEmbed);
  }
});
$(document).ready(function() {
  $("#send-code-btn").click(function() {
    var isPhone = 1;
    checkPhone(); //验证手机号码
    if(isPhone){
      sendCode(); //发送验证码
      resetCode(); //倒计时
    }else{
      $('#cellphone').focus();
    }
  });
});

function getCode(e){
  checkPhone(); //验证手机号码
  if(isPhone){
    sendCode(); //发送验证码
    resetCode(); //倒计时
  }else{
    $('#cellphone').focus();
  }

}
//验证手机号码
function checkPhone(){
  var phone = $('#cellphone').val();
  var pattern = /^1[0-9]{10}$/;
  isPhone = 1;
  if(phone == '') {
    alert('请输入手机号码');
    isPhone = 0;
    return;
  }
  if(!pattern.test(phone)){
    alert('请输入正确的手机号码');
    isPhone = 0;
    return;
  }
}
//发送验证码
function sendCode(){
  var htmlobj = $.ajax({
    url: "/rest/captcha/sms",
    async: false,
    type: 'post',
    data: {
      cellphone: $('#cellphone').val()
    }
  });
}
//倒计时
function resetCode(){
  $('#send-code-btn').attr('disabled','disabled').html('30 秒后可重新发送');
  var second = 30;
  var timer = null;
  timer = setInterval(function(){
    second -= 1;
    if(second >0 ){
      $('#send-code-btn').html(second+' 秒后可重新发送');
    }else{
      clearInterval(timer);
      $('#send-code-btn').removeAttr('disabled').html('重新发送');
    }
  },1000);
}

</script>
{% endblock %}
