{% extends "user.html" %}
{% block profile_content %}
{% if not user.followers.count() %}
    <div class="core-empty">
        <div class="core-empty-icon">
            <i class="fa fa-users"></i>
        </div>
        <div class="core-empty-info">还没有用户关注您</div>
        <div class="core-empty-desc">
            <span role="button" data-toggle="popover" data-trigger="hover focus">创建新数据集，让更多的用户关注您
                <i class="fa fa-question-circle-o text-primary"></i>
            </span>
            <div class="hidden" id="desc-img"><img class="img-responsive" src="{{ url_for('static', filename='img/dataset-new.jpg') }}"/></div>
        </div>
        <div class="core-empty-action">
            <a href="/datasets/add" class="btn btn-primary">创建数据集</a>
        </div>
    </div>

    <script type="text/javascript">
        $("[data-toggle=popover]").popover({
            html: true,
            content: function () {
                return $("#desc-img").html();
            }
        });
    </script>
{% endif %}
    {% for user in users.items %}
        <ul class="core-userlist">
            {% include 'component-user-item.html' %}
        </ul>
    {% endfor %}
{% endblock %}
